commonAnnotations:
  giantswarm.io/docs: https://docs.giantswarm.io/use-the-api/management-api/crd/releases.release.giantswarm.io
resources:
- v29.3.0
- v29.5.1
- v30.1.5
- v31.1.2
- v32.0.0
- v33.0.1
transformers:
- |
  apiVersion: builtin
  kind: PrefixSuffixTransformer
  metadata:
    name: release-notes
  fieldSpecs:
  - group: release.giantswarm.io
    kind: Release
    path: metadata/annotations/giantswarm.io\/release-notes
  prefix: https://github.com/giantswarm/releases/tree/master/azure/v
