commonAnnotations:
  giantswarm.io/docs: https://docs.giantswarm.io/reference/cp-k8s-api/releases.release.giantswarm.io/
resources:
- v13.1.1
- v14.0.2
- v14.1.6
- v14.1.7
- v15.0.0
- v15.1.0
transformers:
- releaseNotesTransformer.yaml
