
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0

jobs:
  validate:
    docker:
      - image: quay.io/giantswarm/architect
    steps:
      - checkout
      - run:
          name: Validate releases
          command: CGO_ENABLED=0 go test ./...

workflows:
  workflow:
    jobs:
      - validate
      - path-filtering/filter:
          name: filter
          mapping: |
            aws/.* push-aws true
          base-revision: master
          config-path: .circleci/provider_config.yml
          requires:
            - validate
