name: Announce Release

on:
  workflow_dispatch:
    inputs:
      provider:
        type: choice
        description: 'Provider for which the notification is sent (default all)'
        required: true
        options:
          - capa
          - capz
          - cloud-director
          - vsphere
          - test
      channel:
        type: string
        description: 'Send the notification to a single specified channel (testing)'
        required: false
      version:
        type: string
        description: 'Semver formatted version for the announcement being made'
        required: true

jobs:
  gather_channels:
    name: Gather channels
    runs-on: ubuntu-latest
    outputs:
      channels: ${{ steps.collect.outputs.channels }}
    env:
      GH_TOKEN: ${{ secrets.ANNOUNCE_NOTIFY_TOKEN }}
    steps:
      - name: Checkout installations code
        uses: actions/checkout@v6
        with:
          repository: giantswarm/installations
          path: installations
          ref: master
          token: ${{ secrets.ANNOUNCE_NOTIFY_TOKEN }}
      - name: Collect channels
        id: collect
        run: |
          INPUT_CHANNEL=${{ inputs.channel }}
          if [[ $INPUT_CHANNEL != "test" ]]; then
            slack_channels=("noise-releases" "sig-product")
            INPUT_PROVIDER=${{ inputs.provider }}
            while read -r installation; do
              FILE_PATH="$installation/cluster.yaml"
              if [[ -f "$FILE_PATH" ]]; then
                INSTALLATION_PROVIDER=$(yq -r ".provider" $FILE_PATH)
                HAS_SLACK=$(yq 'has("slack")' $FILE_PATH)
      
                if [[ -z $INPUT_PROVIDER ]] || [[ $INPUT_PROVIDER == $INSTALLATION_PROVIDER ]]; then
                  if [[ "$HAS_SLACK" == "true" ]]; then
                    CHANNEL=$(yq -r '.slack.support[0]' "$FILE_PATH")
                    slack_channels+=("$CHANNEL")
                  fi
                fi
              fi
            done < <(find ./installations -type d -mindepth 1 -maxdepth 1)
          else
            slack_channels=($INPUT_CHANNEL)
          fi
          export OUTPUT_CHANNELS=${slack_channels[*]}
          export OUTPUT_JSON=$(echo $OUTPUT_CHANNELS | jq -R 'split(" ")')
          echo "$OUTPUT_JSON" >> "$GITHUB_OUTPUT"
  
  get_announcement:
    name: Get announcement
    runs-on: ubuntu-latest
    outputs:
      announcement: ${{ steps.get_announcement.outputs.announcement }}
    steps:
      - name: Get announcement.md
        id: get_announcement_md
        run: |
          export LINK="https://raw.githubusercontent.com/giantswarm/releases/refs/heads/master/${{ inputs.provider }}/${{ inputs.version }}/announcement.md"
          wget $LINK
          echo $(cat announcement.md) >> "$GITHUB_OUTPUT"
  
  send_messages:
    name: Send Messages
    runs-on: ubuntu-latest
    needs: gather_channels
    strategy:
      matrix: 
        channel: ${{ fromJSON(needs.gather_channels.outputs.channels) }}
    steps:
      - name: Write announcements
        uses: slackapi/slack-github-action@v2.1.1
        with:
          channel: ${{ matrix.channel }}
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          text: ${{ steps.get_announcement.outputs.announcement }}
